#mensaje {
	background-color: pink;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	opacity: 0;
	transform: translateY(-20px);
	transition: all 0.5s ease-in-out;
}

#mensaje.mostrar {
	opacity: 1;
	transform: translateY(0);
}

h1 {
	color: white;
	font-size: 48px;
	margin: 0 0 20px;
	opacity: 0;
	transform: translateY(-20px);
	transition: all 0.5s ease-in-out;
}

#mensaje.mostrar h1 {
	opacity: 1;
	transform: translateY(0);
}

p {
	font-size: 24px;
	line-height: 1.5;
	margin: 0 0 40px;
	opacity: 0;
	transform: translateY(-20px);
	transition: all 0.5s ease-in-out;
}

#mensaje.mostrar p {
	opacity: 1;
	transform: translateY(0);
}

#boton {
	background-color: white;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0;
	transform: translateY(-20px);
	transition: all 0.5s ease-in-out;
}

#mensaje.mostrar #boton {
	opacity: 1;
	transform: translateY(0);
}

#boton:hover {
	background-color: #f2f2f2;
}

